* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

body{
  background-color: #f3f3f3;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header--contact {
  background-color: #0d0d0d;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

.header__logo img{
  width: 180px;
  height: auto;
}

.header__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header__menu ul {
  display: flex;
  list-style: none;
}

.header__menu ul li {
  padding: 10px;
}

.header__menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.header__button--login {
  padding: 10px 20px;
  border: none;
  background-color: #ffdd40;
  border-radius: 4px;
  font-weight: 700;
  border-bottom: 4px solid #a78729;
  cursor: pointer;
}

/*--------- Main ----------- */


.main {
  display: grid;
  grid-template-columns: minmax(320px, 500px);
  justify-content: center;
  margin-top: 150px;
  height: 80vh;
}

.main__container--img img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.main--info h2{
  font-size: 2.8rem;
}

.main--info p {
  font-size: 1.5rem;
  padding: 20px 20px 20px 0;
}

/*--------- Questions ----------- */

.questions {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.question__container {
  display: grid;
  grid-template-columns: minmax(320px, 500px);
  justify-content: center;
}

.accordion__btn {
  background-color: #ffdd40;
  color: #0d0d0d;
  border-radius: 8px;
  cursor: pointer;
  padding: 18px;
  margin-top: 5px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}



.active,
.accordion__btn:hover {
  background-color: #ccc;
  color: #000000;
}

.active{
  background-color: #0d0d0d; 
  color: white;
  border-radius: 8px 8px 0 0;
}

.accordion__content {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: 0px 0px 8px 8px;
}

.consultoria {
  background-color: #0d0d0d;
  color: #ffdd40;
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/*--------- Normas ----------- */

.norma {
  background-color: #0d0d0d;
  background-image: url("https://images.pexels.com/photos/3230538/pexels-photo-3230538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 150px 0 200px 0;
}

#norma {
  text-align: center;
}

.norma_title {
  font-size: 2.2rem;
}

.normas__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 50px;
}

.normas__container div {
  background-color: rgba(228, 228, 228, 0.9);
  color: #0d0d0d;
  text-align: center;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 20px;
}

.icon {
  font-size: 3em;
  color: #ca0d0d;
}

.normas__container p {
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

.norma_button--download {
  background: #ffdd40;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  color: black;
  border-radius: 4px;
  margin-top: 10px;
}

.norma_button--download:hover {
  background: #0d0d0d;
  color: #ffdd40;
}

/*--------- Footer ----------- */

.footer--contact {
  background-color: #000000;
  text-align: center;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px 0;
}

.footer__title--categorie {
  font-size: 1.4rem;
  color: #ffdd40;
}

.footer__categorie {
  list-style: none;
  text-align: center;
}
.footer__categorie li {
  padding: 10px;
}
.footer__categorie li a {
  color: white;
  text-decoration: none;
}

.footer__content--redes {
  padding-bottom: 40px;
}

.footer--redes {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px;
}

.footer--redes:hover {
  color: #ffdd40;
}

/*--------- @Medias ----------- */

@media (max-width: 860px) {
  .header__menu {
    display: none;
  }

 

    .main--info h2{
  font-size: 1.8rem;
}

.main--info p {
  font-size: 1.2rem;
  padding: 20px;
  margin: 20px 0;
}
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .questions {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 200px;
  }
}

@media (min-width: 1024px) {
  .normas__container {
    margin-top: 90px;
  }
}
