
:root {
  --primario:#1E1F26;
  --segundario: #FFDD40;
  --terciario: #f2f2f2;
  --cuarto:#1a1a1a;
  --texto1:'Bangers', cursive;
  --texto2:'Mitr', sans-serif;
}



.footer {
  background-color: var(--primario); 
  position: relative;
  color:white;
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: initial;
  padding: 5px 30px;
  border-top: 2px solid var(--segundario);
}


.footer li{
  list-style: none;
}
.li{
  display: flex;
  align-items: center;
 
}

.footer img{
  height: 100px;
}

.footer .logos img{
  padding: 10px;
  width: 60px;
  height: 60px;
  transition: all 300ms;
}
.footer .logos :hover{
  transition: all 100ms;
  width: 70px;
  height: 70px;
  cursor: pointer;
  box-shadow: inset 0 0 20px var(--segundario); 
  border-radius: 5%;
}
.final{
 background-color: var(--cuarto); 
 text-align: center;
 font-family: var(--texto2);
 color: var(--terciario);
 padding: 10px;
}

.lema {
  background-color: var(--segundario);
  height: 20px;
}

@media screen and (max-width: 425px ){

  .footer img{
    height: 70px;
  }

  .footer .logos img{
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  .final p {
    font-size: 10px;
  }

}

@media screen and (max-width: 320px ){

  .footer img{
    height: 40px;
  }

  .footer .logos img{
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .final p {
    font-size: 10px;
  }

}
